.loading{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid red;
}
.spinner{
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}